.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity $transition-duration $transition-timing-function;

    &--is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;

    width: 450px;
    height: 609px;

    @media screen and (min-width: 1200px) {
        width: 528px;
        height: 581px;
    }

    background-color: $primary-white-color;

    transition: transform $transition-duration $transition-timing-function,
        opacity $transition-duration $transition-timing-function;

.backdrop--is-hidden & {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
}
}

.modal__exit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    position: absolute;
    top: 8px;
    right: 8px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 30px;
    height: 30px;

    background-color: transparent;
    cursor: pointer;

    transition: fill $transition-duration $transition-timing-function;

    &:hover,
    &:focus {
        fill: $accent-color;
    }
}