.contacts-footer {
    display: inline-block;
    margin-top: 20px;
}

.contacts-footer__item + .contacts-footer__item {
    margin-top: 9px;
}

.contacts-footer__link {
    color: $contacts-footer-color;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    letter-spacing: 0.03em;

    transition: color $transition-duration $transition-timing-function;

    &--white {
        color: $primary-white-color;
    }

    &:hover,
    &:focus {
        color: $accent-color;
    }
}