/* Стили шапки */
.page-header {
    position: relative;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $border-color;
}

.page-header__container {
    position: relative;
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
        // width: 100%;
        justify-content: space-between;
    }
}

.blocks-wrap {
    display: none;

    @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    background-color: $primary-white-color;

    &--is-open {
        display: block;
    }
    }

    @media screen and (min-width: 768px) {
        @include centered-flex ();
        flex-grow: 1;
        margin-left: 88px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 93px;
    }
}

.menu-btn {
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 15px;

    display: inline-flex;
    margin: 0;
    padding: 0;

    border: none;
    background-color: transparent;

    @media screen and (min-width: 768px) {
        display: none;
    }

    &:hover .menu-btn__icon-cross, 
    &:hover .menu-btn__icon-menu,
    &:focus .menu-btn__icon-cross,
    &:focus .menu-btn__icon-menu 
    {
        fill: $accent-color;
    }
}


.menu-btn__icon-cross {
    display: none;
}

.menu-btn--is-open .menu-btn__icon-cross {
    display: block;
}

.menu-btn--is-open .menu-btn__icon-menu {
    display: none;
}