/* Общие стили других секций Студии */
.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    &--no-padding-top {
        padding-top: 0;
    }
        
    &--other-bg {
        background-color: $other-bg-color;
    }
}

.section__title {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;

    color: $title-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}